/* Font link add here  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  list-style: none;
}

.banner-bg {
  background-color: #ff900e1a;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.nav {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title h2 {
  font-size: 45px;
}

.nav ul {
  display: flex;
}

.nav ul li {
  margin: 0 0 0 30px;
  font-size: 18px;
  color: #424242;
  cursor: pointer;
}

/* Header content here  */

.header-title {
  font-size: 4rem;
  margin: 100px 0px 30px;
}

.header-descrip {
  font-size: 1rem;
  color: #727272;
}

.header-btn {
  font-size: 20px;
  background-color: #ff900e;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  padding: 20px 25px;
  border: 0;
  margin: 30px 0px 40px;
  cursor: pointer;
}

.header-content {
  text-align: center;
}

/* Header content end here  */

/* Banner img here  */

.banner-img img {
  width: 100%;
  padding-bottom: 50px;
}

/* Feature part start here  */

.feature {
  width: 75%;
  margin: 50px auto 120px;
  display: flex;
}

.feature-img {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.feature-img img {
  width: 100%;
}

.feature-text {
  width: 50%;
  padding-left: 75px;
  display: flex;
  align-items: center;
}

.feature-text-inside h1 {
  font-weight: 500;
  font-size: 45px;
  color: #727272;
}

.feature-text-inside p {
  color: #727272;
  line-height: 25px;
  padding: 20px 0px;
}

.ft-black {
  color: #000;
  font-weight: 700;
}

.ft-orange {
  color: #ff900e;
  font-weight: 700;
}

.feature-text-inside button {
  background-color: #ff900e;
  font-weight: 600;
  color: #fff;
  font-size: 20px;
  padding: 20px 25px;
  border: 0;
  border-radius: 8px;
}

/* Feature part end here  */

/* contain-width here  */

.contain-width {
  width: 80%;
  margin: 0 auto;
}

/* Experiance part here  */

.experiance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 70px;
}

.experiance-text {
  width: 40%;
}

.exper-title {
  border-left: 5px solid #ff900e;
  padding-left: 25px;
}

.exper-title h1 {
  font-size: 45px;
  font-weight: 700;
}

.exper-descrip p {
  font-weight: 400;
  color: #727272;
  margin: 30px 0px;
  line-height: 25px;
}

.exper-paragraph {
  margin-top: 8px;
  padding: 30px 0px 30px 40px;
  box-shadow: 0px 0px 89px -26px rgba(0, 0, 0, 0.1);
}

.exper-paragraph h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.exper-paragraph p {
  color: #727272;
  line-height: 26px;
  font-size: 0.875rem;
}

.experiance-img {
  width: 50%;
  position: relative;
}

.experiance-img img {
  width: 100%;
}

.experiance-btn {
  position: absolute;
  top: 40%;
  left: -5%;
}

.experiance-btn button {
  font-size: 3rem;
  background-color: #ff900e;
  border-radius: 8px;
  font-weight: 700;
  color: #fff;
  line-height: 26px;
  padding: 45px 35px 30px;
  border: 0;
}

.experiance-btn span {
  font-size: 1rem;
  font-weight: 400;
}

/* Experiance part end here  */

/* Facts start here  */

.facts p {
  font-size: 16px;
  color: #727272;
  line-height: 26px;
  padding: 20px 0px 50px;
}

.fact-box {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 120px;
}

.fact-box ul {
  padding: 25px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
}

/* Fact box hover part here  */

.fact-box ul:hover {
  background-color: #ff900e;
  transition: all linear 0.3s;
}

.fact-box ul:hover .fact-box-heading {
  color: #000;
}

.fact-box ul:hover .fact-box-descrip {
  color: #424242;
}

/* Fact box hover part end here  */

.fact-box-heading {
  font-size: 40px;
  color: #424242;
  font-weight: 700;
}

.fact-box-descrip {
  font-size: 16px;
  color: #727272;
}

/* Work part here  */

.work-title {
  display: flex;
  justify-content: center;
}
.work-title h1 {
  color: #000;
  font-size: 2.7rem;
  border-left: 5px solid #ff900e;
  padding-left: 8px;
}

.work-img {
  display: flex;
  justify-content: space-between;
  margin: 70px 0px 120px;
}
.work-img img {
  width: 250px;
  height: 335px;
  border-radius: 12px;
}

#work-img-2 {
  width: 450px;
  height: 335px;
}

/* Work part end here  */

/* sponser part here  */

.sponser-text {
  text-align: center;
}
.sponser-text h1 {
  font-size: 45px;
  font-weight: 700;
}

.sponser-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #727272;
}

.sponser-img {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}
.sponser-img img {
  width: 120px;
}

/* sponser part end here  */

/* Footer part here  */
footer {
  background-color: #fff4e7;
  height: 70px;
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

footer p {
  color: #424242;
}
